name: Run Python Script

on:
  push:
    branches:
      - main
  # Optional: to run on a schedule
  # schedule:
  #   - cron: '0 * * * *' # run every hour

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Check out repository
      uses: actions/checkout@v4
      
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10' # Specify your Python version

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
        
    - name: Run the Python script
      run: python ppv.py # Replace with your script name
