name: Run Python Script at Specific Times

on:
  schedule:
    - cron: '0 6 * * *'
    - cron: '0 0 * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'
    - name: Install dependencies
      run: pip install playwright aiohttp
    - name: Run script
      run: python ppv.py
